
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
    text-align: center;
  }

  #header {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}
  
  .container {
    display: flex;
    flex-direction: column;
    margin: 35px auto;
}

.row {
    display: flex;
    justify-content: center;
}

.btn {
    width: 75px;
    height: 75px;
    border: 1px solid #000;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    line-height: 75px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.result-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    margin: 20px auto;
    max-width: 200px;
    padding: 10px;
}

.result {
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#reset {
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 15px;
    font-size: 18px;
    transition: background-color 0.2s, color 0.2s;
}

#reset:hover {
    background-color: #000;
    color: #fff;
}






